html {
  box-sizing: 'border-box';
}

body {
  background-image: url('../Images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
img {
  display: inline;
}

.center {
  text-align: center;
}

.guess {
  color: black;
  background-color: white;
  font-size: 60px;
  display: inline;
  border-radius: 10%;
  margin: 5px;
  padding: 0px 25px;
  border: solid 1px black;
}

#guesses {
  margin: 10px;
}

#player-input {
  color: black;
  text-align: center;
  font-size: 60px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

#submit {
  height: 60px;
  width: 60px;
  top: 20px;
  left: 115px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgb(153, 177, 223);
  position: absolute;
}

#footer {
  width: 100%;
  border-top: solid 2px black;
  background-color: white;
  position: fixed;
  bottom: 0;
}

#input-parent {
  position: relative;
  display: inline;
  width: 160px;
  /* margin: 0 auto 0 auto; */
}

#app {
  color: white;
}

#name {
  position: relative;
  top: 0.8em;
  font-size: 3vw;
}

#Reset {
  box-shadow: 1px 1px 1px rgb(230, 182, 173);
}

#Hint {
  box-shadow: 1px 1px 1px rgb(233, 246, 250);
}

#gracehopper {
  position: relative;
  top: 1em;
}
